/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/
/*
========================================
CUSTOM PROJECT SASS
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right(2px);
----------------------------------------
*/

html {
  font-size: $theme-root-font-size;
}

*:focus {
  @include u-outline("05");
  @include u-outline-color("primary-darker");
}

.page-content {
  h3 {
    @include u-font(sans, 10);
    @include u-font-weight("thin");
    @include u-line-height("heading", 3);
    @include at-media(tablet) {
      @include u-font(sans, 15);
    }
  }
}

*:active:focus {
  @include u-outline("05");
  @include u-outline-color("indigo-warm-50v");
}

.usa-accordion-content {
  &[aria-hidden="true"] {
    @include u-display(none);
  }
}

.usa-banner-button-text--open {
  @include u-display(none);
}

[aria-expanded="true"] {
  > .usa-banner-button-text {
    @include u-display(none);
  }
  > .usa-banner-button-text--open {
    @include u-display(inline);
  }
}

.o-normalize-headings {
  @include u-font-weight(normal);
  @include u-line-height("heading", 3);
  @include u-margin-y(0);
}

.txt-h1,
.txt-h2,
.txt-h3 {
  @extend .o-normalize-headings;
}

.docs-h2 {
  @include u-border-top("05");
  @include u-margin-bottom(3);
  @include u-padding-top(2);
  @include at-media(tablet) {
    @include u-margin-bottom(5);
    @include u-margin-top(5);
  }
}

.txt-h2 {
  @include u-font(sans, 9);
  @include u-font-weight(bold);
  @include u-margin-top(4);
  @include u-padding-top(2);

  @include at-media(tablet) {
    @include u-font(sans, 11);
    @include u-margin-top(5);
  }
}

.txt-h3 {
  @include u-font(sans, 6);
  @include u-font-weight(bold);
  @include u-margin-top(2);
  @include u-padding-top(1);
  @include at-media(tablet) {
    @include u-margin-top(2);
    @include u-padding-top(2);
    @include u-font(sans, 8);
  }
  & + .txt-p {
    @include u-margin-top(1);
  }
}

.txt-p {
  @include u-line-height("heading", 4);
  @include u-margin-bottom(0);
  @include u-margin-top(1em);
  @include u-maxw("desktop");
  @include at-media(tablet) {
    @include u-font(body, 8);
    @include u-line-height("heading", 4);
  }
}

.txt-li {
  @include u-border-top();
  @include u-border-color("gray-80");
  @include u-padding-y(1);
  @include at-media(tablet) {
    @include u-padding-y(1);
  }
}

.txt-code {
  @include u-font(mono, sm);
  @include u-font-weight(400);
  @include u-padding-x("05");
  @include u-padding-y(2px);
  @include u-bg("gray-warm-1");
  @include u-radius("sm");
}

.txt-a {
  @include u-color("gray-90");
  @include u-underline("gray-30");
  &:hover {
    @include u-underline("gray-90");
  }
}

.txt-ul {
  @include add-list-reset;
}

.usa-body-content,
.usa-prose {
  h1,
  h2,
  h3 {
    @extend .o-normalize-headings;
  }
  h2 {
    @extend .txt-h2;
  }
  h3 {
    @extend .txt-h3;
    & + p {
      @include u-margin-top(1);
    }
  }
  p {
    @extend .txt-p;
  }
  ul {
    @extend .txt-ul;
  }
  li {
    @extend .txt-li;
  }
  p a {
    @extend .txt-a;
    &.usa-lede-link {
      @include u-color(gray-90);
      @include u-underline(gray-20);
      &:hover {
        @include u-underline(gray-80);
      }
    }
  }
  code {
    @extend .txt-code;
  }
  aside {
    code {
      @include u-bg(gray-warm-10);
    }
  }
}

.usa-card {
  @include u-border-left(1);
  @include u-border-color(gray-cool-30);
  @include u-bg(gray-warm-4);
  @include u-margin-top(2);
  @include u-padding-x(1);
  @include u-padding-y(1);
  @include u-radius("md");

  @include at-media(tablet) {
    @include u-padding-x(2);
    @include u-margin-top(4);
    @include u-padding-bottom(3);
    @include u-padding-top(2);
  }
}

.usa-link-circle {
  @include u-border(2px);
  @include u-border-color(gray-20);
  @include u-radius("sm");
  @include u-color(gray-50);
  @include u-display(inline-block);
  @include u-font(sans, 1);
  @include u-font-weight(normal);
  @include u-line-height(sans, 1);
  @include u-margin-left(1);
  @include u-padding(1);
  @include u-text-align(center);
  @include u-text-decoration("no-underline");

  width: spacing(3);
  &:hover {
    @include u-border-color(indigo-warm-60v);
    @include u-color(indigo-warm-60v);
  }
}

.usa-lede-sup {
  @include u-display(none);
  @include u-position(relative);
  @include u-vertical-align(baseline);

  bottom: spacing(1p5);
}

.usa-menu-btn {
  @include u-bg(indigo-warm-70);
  @include u-border-color(gray-60);
  @include u-radius("sm");
  @include u-border-width(0);
  color: white;
  @include u-font(sans, md);
  @include u-margin-top(1);
  @include u-minh(5);
  @include u-minw(9);
  @include u-padding-x(2);
  @include u-padding-y(1);
  &:hover {
    @include u-bg(red-warm-50v);
  }
  @include at-media(tablet) {
    @include u-display(none);
  }
}

.usa-nav-close {
  background-color: transparent;
  @include u-border(0);
  @include u-display(inline-block);
  @include u-padding(0);
  &:focus {
    outline-color: transparent;
  }
  @include at-media(tablet) {
    @include u-display(none);
  }
}

.usa-nav-menu-title {
  @include u-color(red-warm-50);
  @include u-font(sans, md);
  @include u-font-weight(light);
  @include at-media(tablet) {
    @include u-display(none);
  }
}

.usa-nav {
  @include u-display(none);
  &.is-visible {
    @include u-bg(gray-90);
    color: white;
    @include u-display(block);
    @include u-height(viewport);
    @include u-left(0);
    @include u-padding(2);
    @include u-position(fixed);
    @include u-right(0);
    @include u-text-align(right);
    @include u-top(0);
  }
  @include at-media(tablet) {
    @include u-display(block);
  }
}

.usa-nav-primary {
  @include add-list-reset;
  @include u-font(sans, lg);
  @include u-font-weight(light);
  @include u-line-height(sans, 1);
  @include u-text-align(right);
  @include at-media(tablet) {
    @include u-align-items(align-center);
    @include u-display(flex);
    @include u-flex-direction(row);
    @include u-font(sans, md);
    @include u-justify-content(justify-end);
    @include u-margin-y(0);
  }
}

.usa-nav-primary-item {
  @include u-margin-top(2);
  @include at-media(tablet) {
    @include u-flex(auto);
  }
  &.is-active {
    @include u-font-weight(bold);
  }
  & + .usa-nav-primary-item {
    @include u-margin-left(3);
  }
}

.usa-nav-link {
  color: white;
  @include u-text(no-underline);
  &:hover {
    @include u-color(gray-50);
  }
  &:active {
    @include u-color(gray-30);
  }
  @include at-media(tablet) {
    @include u-color(gray-warm-80);
    @include u-border-bottom(1);
    @include u-padding-bottom(1);
    &:hover {
      @include u-border-color(red-warm-50v);
      @include u-color(gray-warm-80);
      @include u-border-width(2);
    }
  }
}

.graphic-outer-rectangle {
  box-shadow: inset 0px 16px 80px rgba(255, 255, 255, 70);
}

.graphic-middle-rectangle {
  box-shadow: inset 0px 12px 50px rgba(255, 255, 255, 60);
}

.graphic-inner-rectangle {
  box-shadow: inset 0px 10px 20px rgba(255, 255, 255, 50);
}

/* ---------- G - R - I - D ---------- */

.docs-text {
  @include u-font(sans, sm);
  @include u-font-weight(400);
  @include u-margin-top(4);
  @include u-margin-bottom(1);
}

strong {
  @include u-font-weight(bold);
}

.docs-inline-code {
  @include u-font(mono, sm);
  @include u-padding-y(2px);
  @include u-padding-x(1);
  @include u-bg(gray-warm-4);
  @include u-radius("sm");
}

.token {
  @include u-bg(gray-warm-3);
  @include u-radius("sm");
  @include u-font(mono, xs);
  @include u-padding-x(1);
  @include u-padding-y(2px);
}

article .project {
  @include u-padding-y(1);
  @include u-margin-y(3);
  .phase {
    @include u-margin-y(0);
    @include u-display(inline-block);
    @include u-font(sans, sm);
    @include u-font-weight(bold);
    @include u-line-height(sans, 1);
    @include u-color(indigo-warm-50);
    text-transform: uppercase;
  }
  .phase-4 {
    @include u-color(orange-50);
  }
  h3 {
    @include u-padding-top(1);
    @include u-margin-y(0);
    @include u-font(sans, md);
    a {
      @include u-color(gray-warm-80);
      @include u-text(no-underline);
      &:hover {
        @include u-color(gray-warm-80);
        @include u-text(underline);
      }
    }
  }
  .deck {
    @include u-margin-y(0);
    @include u-padding-y(2px);
    @include u-font(sans, 10);
    @include u-font-weight(thin);
    @include u-line-height(sans, 1);
  }
  .content * {
    @include u-font(sans, 6);
  }
  .content {
    .github_repo_link a {
      @include u-color(indigo-warm-50);
      @include u-font(sans, sm);
      @include u-text(no-underline);
      @include u-font-weight(normal);
      &:hover {
        @include u-color(indigo-warm-60);
        @include u-text(underline);
      }
    }
  }
}
