---
layout: default
---

<section class="text-black-warm-80 padding-bottom-0">
  <div class="padding-x-2 max-width-tablet margin-x-auto tablet:padding-x-5">
    <h1
      class="margin-y-0 padding-top-4 tablet:padding-top-4 font-weight-900 font-sans-13 tablet:font-sans-17 letter-spacing-tightest line-height-smaller"
    >
      {{ page.title }}
    </h1>
    {% if page.description %}
    <p
      class="font-weight-400 font-sans-9 line-height-small tablet:font-sans-11 tablet:line-height-base margin-top-2 tablet:margin-top-1 margin-bottom-0"
    >
      {{ page.description }}
    </p>

    <div
      class="margin-x-neg-2 tablet:margin-x-0 margin-top-6 tablet:margin-top-6 bg-{{ page.graphic_outer_bg }}"
    >
      <div class="grid-row padding-top-9">
        <div
          class="grid-col-6 margin-x-auto height-9 bg-{{ page.graphic_middle_bg }}"
        >
          <div class="grid-row padding-top-6">
            <div
              class="grid-col-2 height-3 margin-x-auto bg-{{ page.graphic_inner_bg }}"
            ></div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>

<section
  class="usa-body-content text-black-90 padding-top-1 padding-bottom-4 tablet:padding-top-4 tablet:padding-bottom-8 font-weight-300 bg-0 clearfix"
>
  <div
    class="padding-x-2 max-width-tablet margin-x-auto line-height-large tablet:padding-x-5"
  >
    <article
      class="usa-body-content padding-x-0 max-width-tablet margin-x-auto line-height-large text-90"
    >
      {{ content }}
    </article>
  </div>
</section>
